* {padding:0px;
margin: 0px;
}
.clyde {border-style:solid;
    border-color:blue;
    width:130px;
    height:40px;
    display: inline-block;
    text-align: center;
    font-size: 32px;
}
body{background-color:#9400D3}
h1{text-align: center;
color:black;
font-size: 90px;
}