body {
    background-color:black ;
   background-image: url(https://media.giphy.com/media/l0Iy4cguQsSZzhSj6/giphy.gif);
   background-size: 100px;
   font-family: 'Roboto Mono', monospace;
}
#navbar {
    background-image: url(https://media.giphy.com/media/5wFGyCddLxvw9Bqb62/giphy.gif);
    background-size: 100px;
}
.Title {
  background: linear-gradient(#d61313, black);;
  margin-right: 1200px;
  border-radius:15px;
  padding-left: 32px;
  margin-left: 10px;
  margin-top: 5px;
  color: white;
  padding-bottom: 5px;

}
li {
    margin-left: 100px;
}
.dropbtn {
    background-color:black;
    color:white;
    padding-bottom: 3px;
    padding-left:20px;
    padding-right:20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding-top:3px;
  }
 .nav-item {
     text-align:center;
     
 }
 #logo {
     float:right;
     width: 105px;
     margin-right: 40px;
 }
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
     
.dropdown:hover .dropbtn {
    background-color: #d61313 ;
}
 #box1 {
    float:left;
    height: 600px;
    width: 550px;
    margin-left: 20px;
    margin-top: -40px;
    border: solid grey 2px;
    border-top:hidden;
    border-left:hidden;
    border-bottom:hidden;
    border-right:hidden;
}
#box2 {
    float:right;
    border: solid grey 2px;
    width: 800px;
    margin-right: 40px;
    margin-top: -20px;
    height: 570px;
    background-color:rgb(80, 78, 78);
    color:white;
    border-left:hidden;
    border-bottom:hidden;
    border-right: hidden;
    border-top:hidden;
    border-radius: 25px;
    background-image:url(https://media.giphy.com/media/5wFGyCddLxvw9Bqb62/giphy.gif);
    background-size: 50px;
  
}
#itemimage {
    width: 800px;
    margin-top: 20px;
    margin-left: 100px;
}
.boxtext {
    margin-left: 30px;
    margin-top: 10px;
}
#Itemtitle {
    margin-top: 100px;
}
#pricenum {
    float:left;
}
.carousel-inner {
    width: 420px;
    display:flex;
    margin-left: 65px;
}
#line2 {
    color:white;
    margin-top:800px;
    height:400px;
    background-color:grey;
    background-image: linear-gradient(black, grey); 
    text-align:center;
    background-image: url(https://media.giphy.com/media/3o7TKBYact31GcyS40/giphy.gif);
    background-size: 10px;
}
#contact {
    padding-top: 30px;
}
#email {
    float:left;
    margin-left:500px;
}
#emailinfo {
    float:right;
    margin-right:500px;
}
a {
    color:white;
}
.block {
    height: 300px;
       width: 250px;
       display: inline-block;
       
     }
.one {background-color: lightgray; 
}
.two{background-color:lightgray;
}
.three{background-color:lightgrey;
}
.four {background-color:lightgray;
}
.five {background-color: lightgray;
}
.six {background-color:lightgray;
}
.seven {background-color: lightgray;
}
.eight {background-color: lightgray;
}
.nine {background-color: lightgray;
}
.ten {background-color: lightgray;
}
.eleven{background-color: lightgray;
}
.twelve{background-color: lightgray;
}